{% extends 'header.html' %}

{% block head %}
<title>no access</title>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
      <h5 class="card-title">This section is only for machine learning Developers!!!</h5>
      <p class="card-text">If you want to train the machine learning model using less amount of code i have made a low-code platform where you can easily your data thats it.By just one click you can entirely train and build machine learning pipeline.But only one thing you need to do that is you should already must have done eda and feature engineering thats it rest all this platform will handle it will help you to build the best machine learning model through MLops pipeline.Isn't it amazing...🤔🤔</p>
      <p class="card-text">I haven't made this platform entirely automated in order to do so i need time..</p>
      <p class="card-text">If you are machine learning enthusiast and want to explore this platform then you can reach out i will help you out...😁😁</p>
      <a class="btn btn-success" href="mailto:rohanpatankar926@gmail.com">Email me</a>
    </div>
  </div>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br>

  {% endblock %}