{% extends "header.html" %} 
{% block title %} Consignment Pricing {% endblock
title %}
 {% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="webapp/static/css/main.css">

<link
  rel="icon"
  href="https://p.kindpng.com/picc/s/255-2554311_insured-cosmetologist-finance-and-insurance-icon-hd-png.png"
  type="image/x-icon"
/>

{% endblock custom_css %} 

{% block body %}
<!-- nav bar -->


<div>
  <!-- nav bar ends -->

  <div class="container-fluid masthead">
    
    <br />
    <br />
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <center><h2 style="color: grey;">Consignment Pricing using MLops</h2></center>
          <!-- Input block-->
          <br class="form-group" />
          <label for="translation">
            <blockquote class="blockquote">
              <p class="mb-2">Enter the Consignment details mentioned below:</p>
            </blockquote>
          </label>
          <div class="input">
          <input
            type="text"
            class="form-control"
            name="po_/so#"
            rows="1"
            placeholder="po_/so#"
          />
          <br>
          <input
            type="text"
            class="form-control"
            name="asn/dn"
            rows="1"
            placeholder="asn/dn"
            size=50
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="fullfil_via"
            rows="1"
            placeholder="fullfil via"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="vendor_name"
            rows="1"
            placeholder="vendor incoterm"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="shipment_mode"
            rows="1"
            placeholder="shipment mode"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />

          <br />
          <select
            aria-placeholder="select"
            class="form-control"
            id="country"
            name="country"
            required="1"
          >
            <
            <option hidden selected>country</option>
            {% for type in country %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
          </select>
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="managed_by"
            rows="1"
            placeholder="managed_by"
            align="right"
          />

          <br />

          <input
            type="text"
            class="form-control"
            name="fulfill_via"
            rows="1"
            placeholder="fulfill_via"
          />
          <br />
          <input
            type="text"
            class="form-control"
            name="vendor_inco_term"
            rows="1"
            placeholder="vendor_inco_term"
          />
          <br />
          <select
            aria-placeholder="select"
            class="form-control"
            id="shipment_mode"
            name="shipment_mode"
            required="1"
          >
            <option hidden selected>shipment_mode</option>
            {% for type in shipment_mode %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
          </select>

          <br />

          <input
            type="date"
            class="form-control"
            name="managed_by"
            rows="1"
          />

          <br />

          <select
            aria-placeholder="select"
            class="form-control"
            id="region"
            name="region"
            required="1"
          >
            <option hidden selected>Select Region</option>
            {% for type in region %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
          </select>
          </div>

          <!-- Select output language here. -->
          <div class="form-group"></div>
          <form>
            <button type="submit" class="btn btn-primary mb-2">Predict</button>
            <br />
          </form>

          <!--
             Translated text returned by the Translate API is rendered here. -->
        <!-- </div>
        <div class="col">
          <form>
            <div class="form-group">
              <label for="translation-result">
                <blockquote class="blockquote">
                  <p class="mb-2">Prediction:</p>
                </blockquote>
              </label>
              <textarea readonly class="form-control" id="exTextarea" rows="5">
{{ response }}</textarea
              >
            </div>
          </form>
        </div>
      </div>
    </div> -->

    {% endblock body %}
  </div>
</div>
