{% extends 'header.html' %} 

{% block head %}
<title>Consignment Pricing</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="icon" href="{{url_for('static', filename='images/dollar.png')}}">

{% endblock %}


{% block content %}

<div id="preloader"></div>


        <marquee><h3>Consignment Pricing Using MLops</h3></marquee>
      </center>
      <center>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Problem Statement</h5>
            <p class="card-text">Problem Statement:
              The market for logistics analytics is expected to develop at a CAGR of 17.3 percent
              from 2019 to 2024, more than doubling in size. This data demonstrates how logistics
              organizations are understanding the advantages of being able to predict what will
              happen in the future with a decent degree of certainty. Logistics leaders may use this
              data to address supply chain difficulties, cut costs, and enhance service levels all at the
              same time.</p>
            <p class="card-text">The main goal is to predict the consignment pricing based on the available factors in
              the
              dataset.</p>

            <p class="card-text"><strong>Approach</strong>: The classical machine learning tasks like Data Exploration,
              Data Cleaning,
              Feature Engineering, Model Building and Model Testing. Try out different machine
              learning algorithms that’s best fit for the above case.For the complete automation of the project i have
              built scalable machine learning end to end pipeline where clients can easily view log files,artifacts and
              also retrain the model by just clicking one button you can perform majority of the operations which is
              required for machine learning and also for cloud automation i have implemented ci/cd⚙️ pipeline using
              github actions.</p>
            <a class="btn btn-warning" href="/">Documentation</a>
          </div>
        </div>
      </center>
      <br>
      <center>
        <h5>Want To Explore Something New In Machine Learning??</h5>
      </center>
      <center><a class="btn btn-primary btn-lg active" href="/main">Click Here </a></center>
      <br><br><br><br><br>




    </div>
  </div>

</div>
</div>
</div>
</div>
</div>


{% endblock %}
</div>