{% extends 'header.html' %}

{% block head %}


<title>Prediction</title>
{% endblock %}

{% block content %}


<div class="row">
<div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


    <form action="/predict" method="post">
        <legend>{{legend}}</legend>
        <div class="mb-3">
            <label class="form-label">line_item_insurance</label>
            <input class="form-control" type="text" name="line_item_insurance" placeholder="Enter a value of line_item_insurance"
                required />
        </div>
        <div class="mb-3">
            <label class="form-label">line_item_quantity</label>
            <input class="form-control" type="text" name="line_item_quantity" placeholder="Enter a value of line_item_quantity"
                required />

        </div>
        <div class="mb-3">
            <label class="form-label">pack_price</label>
            <input class="form-control" type="text" name="pack_price"
                placeholder="Enter a value of pack_price" />

        </div>
        <div class="mb-3">
            <label class="form-label">days_to_process</label>
            <input class="form-control" type="text" name="days_to_process" placeholder="Enter a value of days_to_process"
                required />

        </div>
        <div class="mb-3">
            <label class="form-label">unit_price</label>
            <input class="form-control" type="text" name="unit_price"
                placeholder="Enter a value of unit_price" required />
        </div>
        <div class="mb-3">
            <label class="form-label">freight_cost</label>
            <input class="form-control" type="text" name="freight_cost" placeholder="Enter a value of freight_cost"
                required />
        </div>
        <div class="mb-3">
            <label class="form-label">country</label>
            <select class="form-control" name="country" placeholder="Enter a value of country"
                required>

                <option value="India">
                    &lt;1H OCEAN
                </option>
                <option value="Vietnam">
                    Vietnam
                </option>
                <option value="Nigeria">
                    Nigeria
                </option>
                <option value="South Africa">
                    South Africa
                </option>
                <option value="Guyana">
                    Guyana
                </option>

            </select>
        </div>
        <div class="mb-3">

        <div class="mb-3">
            <label class="form-label">unit_of_measure</label>
            <input class="form-control" type="text" name="unit_of_measure"
                placeholder="Enter a value of unit_of_measure" required />
        </div>
      
            <input class="btn btn-primary" type="submit" value="Predict line item Value" required />
        </div>

    </form>
</div>

<div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
    <div class="card">
        <div class="card-header">
          Consignment Pricing
        </div>
        <div class="card-body">
    {% if context['consignment_data'] is not none %}
    <table class="table table-striped">
        <caption>Consignment Pricing Prediction </caption>
        <tr>
            <th>Input Feature</th>
            <th>Feature Value</th>

        </tr>
        {% for column,value in context['consignment_data'].items() %}
        <tr>
            <td>{{column}}</td>
            <td>{{value[0]}}</td>
        </tr>

        {% endfor %}
        <tr>

            <td>line_item_value </td>
            <td>
                {{ context['line_item_value'] }}
            </td>
        </tr>
    </table>

    {% else %}
   
          <h5 class="card-title">Submit Form</h5>
          <p class="card-text">Kindly provide necessary information to estimate housing price in california</p>
        
     

    {% endif %}
    Go to <a href="/" class="btn btn-primary">Home</a>
</div>
</div>
</div>
    
{% endblock %}