{% extends 'header.html' %}

{% block head %}


<title>Prediction</title>
{% endblock %}

{% block content %}


    <h3 >Development In Progress Go <a class="btn btn-primary" href="/">Home</a></h3>
    <div class="card">
        <div class="card-header">Save data to database</div>
        <div class="card-body">
          <h5 class="card-title">Data upload to database</h5>
          <p class="card-text">Please help me by filling your consignment data in this form</p>
          <a class="btn btn-primary" href="/predict/upload">Fill Data</a>
        </div>
    
    </div>

<br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  
{% endblock %}