{% extends 'login_layout.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block body %}
<style>
  .alert-primary{
    color:rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
  
  }
  .alert{
    position:left;
    padding: .7rem 0.25rem;
    border: .2px transparent;
    border-radius: .25rem;
  }
</style>
<body style="background-color: hsl(0, 10%, 92%);">
    <!-- Section: Design Block -->
<section class="">
 
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color:  hsl(0, 10%, 92%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <p>
                  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if 'alert' in message %}
                <div class="alert alert-{{ category }}" role="alert">
                    <center>{{ message|replace('alert: ', '') }}</center>
                </div>
            {% endif %}
        {% endfor %}   
    {% endif %}
{% endwith %}
                 </p>
                <form method="POST" action="{{url_for('register')}}">  
                  <div>
                    <h4>Welcome to ConsignmentPricing</h4>
                      Create an account or <a href="/">Login</a>.
                </div>
                <br>
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label for="email" for="emailinput" class="form-label" for="form3Example3">Email address</label>
                    <input type="email" name="email" id="form3Example3" class="form-control" onkeyup="return forceLower(this);" required/>
                  </div>

                  <!-- USername input -->
                  <div class="form-outline mb-4">
                    <label for="username" for="useranameinput" class="form-label" for="form3Example3">Username</label>
                    <input type="text" name="username" id="form3Example3" class="form-control" required/>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label for="passwordinput" class="form-label" for="form3Example4">Password</label>
                    <div>
                    <input type="password" name="password" id="form3Example4" class="form-control" required/>
                      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if 'pwd' in message %}
                    <p class="alert alert-{{ category }}" role="alert" style="color:red;">
                        {{ message|replace('pwd: ', '') }}
                    </p>
                {% endif %}
            {% endfor %}   
        {% endif %}
    {% endwith %}
                     <div>
                  </div>
                  <div class="form-outline mb-4">
                    <label for="passwordinput" class="form-label" for="form3Example4">Confirm Password</label>
                    <input type="password" name="cpassword" id="form3Example4" class="form-control" required/>
                    
                  </div>
                  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Register
                  </button>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <br><br>
  <footer class="text-center text-white " style="background-color: #d4d2d2;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <h5 style="color:black">Contact Me</h5>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/rohanpatankar926/" role="button"
                data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-linkedin" ></i></a>
            <!-- Github -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/rohanpatankar926" role="button"
                data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(3, 36, 67, 0.504);">
        © 2022 Made with 💖 by <a class="text-light" href="https://rohanpatankar.netlify.app/" target="_blank">Rohan Patankar</a>:
    </div>
    <!-- Copyright -->
</footer>
<script>
function forceLower(strInput) 
{
strInput.value=strInput.value.toLowerCase();
}
</script>
{% endblock %}
</body>


