body {
   
        height: 200px;
        background-color: #550e0e;
        background-image: linear-gradient(red, yellow, green);
     
}
*
{
    background-color: #621717;
}
.navbar-collapse{
    padding-right: 50%;
}

#id{
    float: right;
  clear: both;
}
